
<h3>Named Route Helpers</h3>

<pre>
  root_path:    <%= root_path %>
  ruby_path:    <%= ruby_path %>
  env_path:     <%= env_path %>
  rack_path:    <%= rack_path %>
  sinatra_path: <%= sinatra_path %>
  rails_path:   <%= rails_path %>
</pre>

<%= erb :'shared/_debug' %>
